{% extends 'base.html.twig' %}

{% block title %}sessions index
{% endblock %}

{% block body %}
	<h1>sessions index</h1>

	<table class="table">
		<tbody>
			{% for items in session %}
				<tr>
					<td>{{ items.id }}</td>
					{# <td>{{ items.debut }}</td> #}
					{# <td>{{ items.fin }}</td> #}
                    <td>{{ items.nom }}</td>
                    <td>{{ items.formateur }}</td>
                    <td>{{ items.promotion }}</td>
                    <td>{{ items.salle }}</td>
					<td>
						<a href="{{ path('app_session_show', {'id': items.id}) }}">show</a>
						<a href="{{ path('app_session_edit', {'id': items.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_session_new') }}">Create new</a>
{% endblock %}
